<div class="login">
    <form action="" class="formulario">
        <h1>Bienvenido</h1>

        <div class="form-email">
            <div class="etiqueta">
                <label>Email:</label>
            </div>
            <input type="email" class="email" placeholder="mail@adress.com">
        </div>

        <div class="form-password">
            <div class="etiqueta-pass">
                <label>Contraseña:</label>
            </div>
            <input type="password" class="password" placeholder="contraseña..." (toggle)="true">
        </div>
        <button class="submit" type="submit">Enviar</button>
    </form>
</div>