<header>
    <div class="container">
        <div class="logo">
            <ul class="home">
                <a routerLink="/">Imagenes</a>
            </ul>
        </div>

        <nav class="menu">
            <label for="boton_menu" class="nav_label">
                <img src="assets/menu.png" alt="menu" title="menu">
            </label>
            <input type="checkbox" id="boton_menu" class="nav_input">

            <ul class="nav_menu">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Registro</a></li>
            </ul>
        </nav>
    </div>
</header>